.loserpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  margin: 0 auto;
  padding: 16px;
  min-height: 100vh;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding-bottom: 140px;
}

.loser-image {
  width: 180px; /* Adjust width as necessary */
  height: auto;
}

.score-header {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #ff4100; /* Black color */
  padding: 0;
  margin-top: 25px;
}

.score-subtext {
  font-size: 80px;
  font-weight: 900;
  color: white; /* Inner text color */
  -webkit-text-stroke: 4px #ff4100; /* Outer border color and thickness */
  -webkit-text-fill-color: white; /* Ensures the inside remains white */
  padding: 0;
}

.game-save-button {
  position: fixed;
  background-color: #ff4100;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  width: 380px;
  bottom: 30px;
}

.replay-button {
  position: absolute;
  background-color: #e93e47;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 380px;
  bottom: 90px;
}
