/* CorrectAnswer Box */
.correct-answer-box {
  position: absolute;
  bottom: -50px;
  max-width: 430px;
  height: 170px;
  background-color: #dff6ed;
  border-radius: 22px 22px 0px 0px;
  color: #29c195;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: slide-up 0.5s ease forwards;
  z-index: 1;
}

.correct-answer-box.review {
  height: 250px;
}

.answer-text {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  padding: 0;
}

/* Group the left icon and text */
.correct-left {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.icon-left {
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.icon-right {
  width: 19px;
  height: 19px;
  padding: 30px 25px;
  cursor: pointer;
}

.answer-box {
  background-color: #e6e6e6;
  border-radius: 8px;
  padding: 0 8px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

/* Blank placeholder styling */
.blank-box {
  display: inline-block;
  width: 60px; /* Adjust this width as necessary */
  height: 24px;
  background-color: #e6e6e6;
  border-radius: 8px;
}

/* Correct answer styling */
.correct-answer {
  background-color: #dff6ed;
}

.correct-answer-text {
  color: #29c195; /* Green color for correct answer text */
  font-weight: 700;
}

/* Incorrect answer styling */
.incorrect-answer {
  background-color: #fbe4e9;
}

/* IncorrectAnswer Box */
.incorrect-answer-box {
  position: absolute;
  bottom: -50px;
  max-width: 430px;
  height: 200px;
  background-color: #fbe4e9;
  border-radius: 22px 22px 0px 0px;
  color: #e93e47;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: slide-up 0.5s ease forwards;
  z-index: 1;
}

.incorrect-answer-box.review {
  height: 280px;
}

.incorrect-answer-text {
  color: #e93e47; /* Red color for incorrect answer text */
  font-weight: 700;
}

/* Group the left icon and text */
.incorrect-left {
  display: flex;
  align-items: center;
  align-items: flex-start;
  padding: 25px 20px;
  flex-direction: column;
}

.incorrect-left h2 {
  margin: auto;
}

.incorrect-left p {
  font-weight: 500;
}

.icon-and-text {
  display: flex;
  align-items: center;
}

/* Keyframes for sliding the box up */
@keyframes slide-up {
  from {
    bottom: -50px;
  }
  to {
    bottom: 0px;
  }
}
