.timer {
  display: flex;
  align-items: center; /* Vertically aligns icon and text */
  font-weight: bold;
  color: #FF4100; /* Set color to #E3496C */
  font-size: 1rem; /* Adjust font size as needed */
}

.clock-icon {
  margin-right: 8px; /* Adds margin between icon and text */
  display: inline-block;
  vertical-align: middle;
}

/* Main container */
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
  margin: 0 auto;
  padding: 16px;
  min-height: 100vh;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.review-game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 270px;
  min-height: 100vh;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

/* Header */
.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Progress Bar */
.progress-bar-gamepage {
  flex-grow: 1;
  height: 12px;
  background-color: #e6e6e6;
  border-radius: 6px;
  position: relative;
  margin: 0 20px 0 30px;
  overflow: hidden;
}

.progress-fill-gamepage {
  width: 25%;
  height: 100%;
  background-color: #FF4100;
  border-radius: 6px;
  transition: width 0.5s ease;
}

/* Add a rectangular border around the question section */
.question-section {
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 10px;
}

.review-question-section {
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 10px;
}

.bookmark-icon {
  width: 21px;
  height: 22px;
  visibility: hidden;
  margin-left: 83%;
  margin-top: 3%;
}

/* Show the bookmark icon after submission */
.question-section.submitted .bookmark-icon {
  visibility: visible;
  cursor: pointer;
}

/* Question and translation styling */
.question-section h1,
.review-question-section h1 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 38.19px;
  text-align: center;
  color: #000000;
}

.question-section p,
.review-question-section p {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  text-align: center;
  padding-top: 10px;
}

/* Gray box for the blank part in the English sentence */
.blank-box {
  display: inline-block;
  background-color: #e6e6e6;
  border-radius: 8px;
  width: 120px;
  height: 39px;
  vertical-align: middle;
  color: transparent;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

/* Answer box styling */
.answer-box {
  background-color: #e6e6e6;
  border-radius: 8px;
  height: 39px;
  padding: 0 2px;
  font-weight: bold;
  color: #000;
  display: inline-block;
}

/* Remove the gray background after showing correct answer */
.correct-answer {
  background-color: transparent;
  color: #29c195;
  font-weight: 700;
}

/* Korean translation styling */
.translation-answer {
  color: #FF4100;
}

.correct-translation {
  color: #29c195;
}

.options {
  width: 100%;
  margin-bottom: auto;
}

.options button {
  display: block;
  margin: 17px 0;
  padding: 10px;
  width: 100%;
  height: 54px;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: center;
  color: #545454;
  border: none;
  border-radius: 16px;
  background-color: #e6e6e6;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Option button styles when selected but not yet submitted */
.option.selected {
  background-color: #FFC8A4; /* Light green for selection */
  color: #FF4100; /* Green text for selection */
  font-weight: 700;
}

/* Option button styles when correct */
.option.correct-option {
  background-color: #dff6ef; /* Green for correct */
  color: #29c195; /* White text for correct */
  font-weight: 700;
}

/* Option button styles when incorrect */
.option.incorrect-option {
  background-color: #fbe4e9; /* Light green for selection */
  color: #e93e47; /* Green text for selection */
  font-weight: 700;
}

.incorrect-answer {
  color: #e93e47; /* Red color for incorrect answer */
  font-weight: bold;
}

/* Initial styling for submit button when no answer is selected */
.submit-btn.initial {
  background-color: #e5e5e5;
  color: #afafaf;
  cursor: not-allowed; /* Prevents the pointer cursor */
}

/* Remove hover effect for initial state */
.submit-btn.initial:hover {
  background-color: #e5e5e5; /* Keep the background color unchanged */
}

.submit-btn {
  background-color: #FF4100;
  color: white;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 56px;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  margin-bottom: 20px;
}

.submit-btn:hover {
  background-color: #fc7041;
}

.submit-btn.correct {
  background-color: #29c195;
  color: white;
}

.submit-btn.incorrect {
  background-color: #e93e47;
}

.feedback {
  font-size: 18px;
  text-align: center;
}

.exit-btn {
  background-color: transparent;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 56px;
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 700;
  z-index: 2;
  margin-bottom: 20px;
}

.exit-btn.correct {
  border: 2px solid rgba(41, 193, 149, 0.4);
  color: #29c195;
}

.exit-btn.incorrect {
  border: 2px solid rgba(233, 62, 71, 0.4);
  color: #e93e47;
}

.review-buttons {
  position: fixed;
  bottom: 20px;
  width: 100%;
  max-width: 430px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 1000;
}
