.login-option {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard Variable", sans-serif;
  margin-bottom: 30px;
}

.logo {
  width: 40%;
  max-width: 226px;
  height: auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333;
  width: 70%;
  margin: 0;
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  position: fixed;
  bottom: 40px;
  padding: 0 20px;
  margin: 0 auto;
}

.signup-button,
.login-button {
  background-color: #ff4100;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: calc(100% - 30px);
  max-width: 380px;
  margin: 0 auto;
}

.login-button {
  background-color: white;
  color: #ff4100;
  border: 1px solid #ff4100;
}